# IMPORTANDO DADOS

In [110]:
import pandas as pd
import numpy as np

In [111]:
base_total = pd.read_excel('/df_nba.xlsx', index_col= 0 )

In [112]:
base_total

,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,C,23,TOR,12,0,20.4,3.0,7.7,0.391,0.4,...,0.848,2.0,5.0,7.0,1.3,0.2,0.6,1.3,1.6,8.8
Steven Adams,C,29,MEM,24,24,26.7,3.6,5.9,0.610,0.0,...,0.292,4.8,5.7,10.5,2.3,0.8,1.0,2.1,2.3,8.0
Bam Adebayo,C,25,MIA,25,25,35.0,8.2,15.3,0.533,0.0,...,0.841,2.3,6.9,9.2,3.3,0.9,0.7,3.0,3.2,20.8
Ochai Agbaji,SG,22,UTA,11,0,9.5,1.3,2.8,0.452,0.4,...,0.571,0.5,0.8,1.4,0.1,0.1,0.0,0.0,1.0,3.3
Santi Aldama,PF,22,MEM,25,16,24.9,3.6,7.7,0.469,1.3,...,0.727,1.5,4.3,5.8,1.4,0.9,1.0,0.6,2.6,9.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Delon Wright,PG,30,WAS,4,0,22.8,2.5,6.0,0.417,0.8,...,0.600,1.0,1.5,2.5,3.3,2.8,1.0,1.0,1.3,6.5
McKinley Wright IV,PG,24,DAL,1,0,5.0,1.0,4.0,0.250,0.0,...,NaN,1.0,1.0,2.0,2.0,1.0,0.0,0.0,0.0,2.0
Thaddeus Young,PF,34,TOR,23,8,17.0,2.3,4.3,0.531,0.2,...,0.857,1.7,2.1,3.8,2.0,1.1,0.1,0.8,1.7,5.2
Trae Young,PG,24,ATL,24,24,35.4,9.0,21.7,0.413,2.1,...,0.899,0.8,2.1,2.8,9.5,0.8,0.2,3.7,1.3,27.5
Ivica Zubac,C,25,LAC,28,28,30.4,4.2,6.7,0.626,0.0,...,0.674,3.3,7.9,11.2,1.1,0.4,1.6,2.2,3.1,10.6

# ANÁLISES

# 3 PONTOS TOTAL

In [147]:
tres_pontos = base_total[['Tm','3P','3P%','PTS']].sort_values(by = ('3P'), ascending = False)
tres_pontos.head(15)

                    Tm   3P    3P%   PTS
Player
Stephen Curry      GSW  5.1  0.436  30.0
Anfernee Simons    POR  4.1  0.392  24.2
Donovan Mitchell   CLE  3.9  0.424  29.0
Damian Lillard     POR  3.9  0.362  27.6
Klay Thompson      GSW  3.9  0.387  18.9
Desmond Bane       MEM  3.8  0.451  24.7
Buddy Hield        IND  3.6  0.383  17.6
LaMelo Ball        CHO  3.3  0.313  19.3
Bogdan Bogdanović  ATL  3.3  0.371  15.5
Jayson Tatum       BOS  3.3  0.360  30.0
Malik Beasley      UTA  3.2  0.390  14.0
Andrew Wiggins     GSW  3.0  0.450  19.1
Kevin Huerter      SAC  3.0  0.426  15.6
Devin Vassell      SAS  3.0  0.414  20.4
Paul George        LAC  3.0  0.383  23.7

# POR JOGADOR
REBOTES/ASSISTÊNCIAS/PONTOS/TOTAL

In [114]:
nba_jogador = pd.read_excel('/df_nba.xlsx', index_col= 0 )
nba_jogador.fillna(0, inplace= True)
nba_jogador = nba_jogador[['Tm','TRB','AST','PTS','3P']]
for index, row in nba_jogador.iterrows():
    nba_jogador.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    nba_jogador.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    nba_jogador.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    nba_jogador.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']

In [115]:
nba_jogador

,Tm,TRB,AST,PTS,3P,TOTAL,PTS/AST,PTS/TRB,TRB/AST
Player,,,,,,,,,
Precious Achiuwa,TOR,7.0,1.3,8.8,0.4,17.1,10.1,15.8,8.3
Steven Adams,MEM,10.5,2.3,8.0,0.0,20.8,10.3,18.5,12.8
Bam Adebayo,MIA,9.2,3.3,20.8,0.0,33.3,24.1,30.0,12.5
Ochai Agbaji,UTA,1.4,0.1,3.3,0.4,4.8,3.4,4.7,1.5
Santi Aldama,MEM,5.8,1.4,9.8,1.3,17.0,11.2,15.6,7.2
...,...,...,...,...,...,...,...,...,...
Delon Wright,WAS,2.5,3.3,6.5,0.8,12.3,9.8,9.0,5.8
McKinley Wright IV,DAL,2.0,2.0,2.0,0.0,6.0,4.0,4.0,4.0
Thaddeus Young,TOR,3.8,2.0,5.2,0.2,11.0,7.2,9.0,5.8
Trae Young,ATL,2.8,9.5,27.5,2.1,39.8,37.0,30.3,12.3
Ivica Zubac,LAC,11.2,1.1,10.6,0.0,22.9,11.7,21.8,12.3

Consulta por jogador

In [148]:
nba_jogador = nba_jogador.loc[['Zach LaVine','DeMar DeRozan','Trae Young','Giannis Antetokounmpo','Jrue Holiday','Khris Middleton'
,'Domantas Sabonis']]
#filtragem por coluna
nba_jogador.sort_values(by =['Tm','TOTAL'], ascending = False)

,Tm,TRB,AST,PTS,3P,TOTAL,PTS/AST,PTS/TRB,TRB/AST
Player,,,,,,,,,
Domantas Sabonis,SAC,11.3,6.5,17.0,0.5,34.8,23.5,28.3,17.8
Giannis Antetokounmpo,MIL,11.0,5.4,31.9,0.9,48.3,37.3,42.9,16.4
Jrue Holiday,MIL,5.3,7.4,18.9,2.2,31.6,26.3,24.2,12.7
Khris Middleton,MIL,3.0,5.8,13.8,1.8,22.6,19.6,16.8,8.8
DeMar DeRozan,CHI,4.7,4.6,25.6,0.4,34.9,30.2,30.3,9.3
Zach LaVine,CHI,4.6,4.2,21.9,2.9,30.7,26.1,26.5,8.8
Trae Young,ATL,2.8,9.5,27.5,2.1,39.8,37.0,30.3,12.3

# POR TIME
REBOTES/ASSISTÊNCIAS/PONTOS/TOTAL

## Toronto

In [117]:
TOR = pd.read_excel('/df_nba.xlsx', index_col= 0 )
TOR.fillna(0, inplace= True)
for index, row in TOR.iterrows():
    TOR.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    TOR.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    TOR.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    TOR.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
TOR = TOR[TOR.Tm == 'TOR'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
TOR.sort_values(by = ('TOTAL'), ascending = False)

                      PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Pascal Siakam        25.3  7.1  8.9   41.3     32.4     34.2     16.0
OG Anunoby           19.0  2.1  5.8   26.9     21.1     24.8      7.9
Fred VanVleet        16.9  6.4  3.5   26.8     23.3     20.4      9.9
Scottie Barnes       14.0  4.8  7.2   26.0     18.8     21.2     12.0
Gary Trent Jr.       16.9  1.5  2.0   20.4     18.4     18.9      3.5
Chris Boucher        11.4  0.6  6.1   18.1     12.0     17.5      6.7
Precious Achiuwa      8.8  1.3  7.0   17.1     10.1     15.8      8.3
Thaddeus Young        5.2  2.0  3.8   11.0      7.2      9.0      5.8
Juancho Hernangómez   4.4  0.8  4.1    9.3      5.2      8.5      4.9
Otto Porter Jr.       5.5  1.0  2.4    8.9      6.5      7.9      3.4
Dalano Banton         5.6  1.2  1.5    8.3      6.8      7.1      2.7
Malachi Flynn         5.8  1.1  1.2    8.1      6.9      7.0      2.3
Christian Koloko      3.8  0.5  3.5    7.8      4.3      7.3      4.0
Jeff Dowtin           2.2  0.9  1.1    4.2      3.1      3.3      2.0
Justin Champagnie     2.0  0.3  1.3    3.6      2.3      3.3      1.6
Ron Harper Jr.        3.0  0.0  0.5    3.5      3.0      3.5      0.5
Khem Birch            2.0  0.4  1.1    3.5      2.4      3.1      1.5

## Memphis

In [149]:
MEM = pd.read_excel('/df_nba.xlsx', index_col= 0 )
MEM.fillna(0, inplace= True)
for index, row in MEM.iterrows():
    MEM.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    MEM.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    MEM.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    MEM.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
MEM = MEM[MEM.Tm == 'MEM'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
MEM.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Ja Morant           27.7  7.8   6.6   42.1     35.5     34.3     14.4
Desmond Bane        24.7  4.8   4.9   34.4     29.5     29.6      9.7
Jaren Jackson Jr.   18.7  0.2   6.1   25.0     18.9     24.8      6.3
Dillon Brooks       17.7  2.9   3.7   24.3     20.6     21.4      6.6
Steven Adams         8.0  2.3  10.5   20.8     10.3     18.5     12.8
Santi Aldama         9.8  1.4   5.8   17.0     11.2     15.6      7.2
Tyus Jones          10.1  4.6   2.3   17.0     14.7     12.4      6.9
John Konchar         8.4  1.4   6.3   16.1      9.8     14.7      7.7
Brandon Clarke       9.8  1.2   5.0   16.0     11.0     14.8      6.2
David Roddy          6.2  0.7   2.6    9.5      6.9      8.8      3.3
Ziaire Williams      3.0  1.5   5.0    9.5      4.5      8.0      6.5
Jake LaRavia         5.1  1.0   3.1    9.2      6.1      8.2      4.1
Kennedy Chandler     2.9  2.1   1.4    6.4      5.0      4.3      3.5
Xavier Tillman Sr.   3.1  0.6   2.4    6.1      3.7      5.5      3.0
Kenneth Lofton Jr.   2.8  0.8   0.8    4.4      3.6      3.6      1.6
Vince Williams Jr.   1.2  0.3   0.8    2.3      1.5      2.0      1.1

## Miami

In [119]:
MIA = pd.read_excel('/df_nba.xlsx', index_col= 0 )
MIA.fillna(0, inplace= True)
for index, row in MIA.iterrows():
    MIA.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    MIA.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    MIA.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    MIA.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
MIA = MIA[MIA.Tm == 'MIA'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
MIA.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Jimmy Butler       21.8  6.0  6.7   34.5     27.8     28.5     12.7
Bam Adebayo        20.8  3.3  9.2   33.3     24.1     30.0     12.5
Tyler Herro        20.1  4.2  6.6   30.9     24.3     26.7     10.8
Kyle Lowry         14.3  6.1  4.9   25.3     20.4     19.2     11.0
Max Strus          13.8  1.7  3.4   18.9     15.5     17.2      5.1
Caleb Martin       11.4  1.9  4.8   18.1     13.3     16.2      6.7
Gabe Vincent        8.8  2.9  2.1   13.8     11.7     10.9      5.0
Victor Oladipo      8.7  2.3  2.3   13.3     11.0     11.0      4.6
Orlando Robinson    7.0  0.5  4.5   12.0      7.5     11.5      5.0
Dewayne Dedmon      6.6  0.6  3.6   10.8      7.2     10.2      4.2
Nikola Jović        6.4  0.9  2.5    9.8      7.3      8.9      3.4
Duncan Robinson     5.9  1.2  2.0    9.1      7.1      7.9      3.2
Haywood Highsmith   3.6  0.6  4.0    8.2      4.2      7.6      4.6
Jamal Cain          4.4  0.6  2.4    7.4      5.0      6.8      3.0
Dru Smith           2.2  1.0  1.8    5.0      3.2      4.0      2.8
Udonis Haslem       0.8  0.0  1.0    1.8      0.8      1.8      1.0

## Utah

In [120]:
UTA = pd.read_excel('/df_nba.xlsx', index_col= 0 )
UTA.fillna(0, inplace= True)
for index, row in UTA.iterrows():
    UTA.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    UTA.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    UTA.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    UTA.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
UTA = UTA[UTA.Tm == 'UTA'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
UTA.sort_values(by = ('TOTAL'), ascending = False)

                           PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Lauri Markkanen           22.2  2.2  8.5   32.9     24.4     30.7     10.7
Jordan Clarkson           19.8  4.9  3.9   28.6     24.7     23.7      8.8
Kelly Olynyk              13.2  3.3  5.0   21.5     16.5     18.2      8.3
Mike Conley               10.6  7.8  2.3   20.7     18.4     12.9     10.1
Collin Sexton             14.3  3.0  2.4   19.7     17.3     16.7      5.4
Malik Beasley             14.0  1.6  3.9   19.5     15.6     17.9      5.5
Jarred Vanderbilt          8.4  2.7  8.0   19.1     11.1     16.4     10.7
Talen Horton-Tucker        7.4  2.5  2.7   12.6      9.9     10.1      5.2
Walker Kessler             6.1  0.6  5.7   12.4      6.7     11.8      6.3
Nickeil Alexander-Walker   6.1  1.8  1.6    9.5      7.9      7.7      3.4
Rudy Gay                   4.7  0.8  3.4    8.9      5.5      8.1      4.2
Simone Fontecchio          4.8  0.4  1.3    6.5      5.2      6.1      1.7
Ochai Agbaji               3.3  0.1  1.4    4.8      3.4      4.7      1.5
Micah Potter               2.0  0.5  1.5    4.0      2.5      3.5      2.0
Udoka Azubuike             1.8  0.3  1.8    3.9      2.1      3.6      2.1
Leandro Bolmaro            0.8  1.2  0.4    2.4      2.0      1.2      1.6

## Bucks

In [121]:
MIL = pd.read_excel('/df_nba.xlsx', index_col= 0 )
MIL.fillna(0, inplace= True)
for index, row in MIL.iterrows():
    MIL.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    MIL.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    MIL.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    MIL.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
MIL = MIL[MIL.Tm == 'MIL'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
MIL.sort_values(by = ('TOTAL'), ascending = False)

                         PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Giannis Antetokounmpo   31.9  5.4  11.0   48.3     37.3     42.9     16.4
Jrue Holiday            18.9  7.4   5.3   31.6     26.3     24.2     12.7
Bobby Portis            13.4  2.2  10.1   25.7     15.6     23.5     12.3
Khris Middleton         13.8  5.8   3.0   22.6     19.6     16.8      8.8
Brook Lopez             14.9  1.2   6.0   22.1     16.1     20.9      7.2
Grayson Allen           10.9  2.7   3.7   17.3     13.6     14.6      6.4
Jevon Carter             8.1  3.5   2.8   14.4     11.6     10.9      6.3
Jordan Nwora             7.0  1.1   3.6   11.7      8.1     10.6      4.7
Pat Connaughton          6.8  0.7   3.8   11.3      7.5     10.6      4.5
George Hill              5.0  2.6   1.9    9.5      7.6      6.9      4.5
MarJon Beauchamp         5.3  0.4   2.9    8.6      5.7      8.2      3.3
Serge Ibaka              4.3  0.3   2.9    7.5      4.6      7.2      3.2
Wesley Matthews          3.2  0.6   1.9    5.7      3.8      5.1      2.5
Sandro Mamukelashvili    2.6  0.3   1.9    4.8      2.9      4.5      2.2
A.J. Green               2.6  0.2   0.8    3.6      2.8      3.4      1.0
Thanasis Antetokounmpo   0.2  0.2   0.9    1.3      0.4      1.1      1.1

## Cleveland

In [122]:
CLE = pd.read_excel('/df_nba.xlsx', index_col= 0 )
CLE.fillna(0, inplace= True)
for index, row in CLE.iterrows():
    CLE.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    CLE.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    CLE.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    CLE.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
CLE = CLE[CLE.Tm == 'CLE'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
CLE.sort_values(by = ('TOTAL'), ascending = False)

                   PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Donovan Mitchell  29.0  4.9   4.0   37.9     33.9     33.0      8.9
Darius Garland    21.6  7.8   2.2   31.6     29.4     23.8     10.0
Evan Mobley       15.0  2.5   9.3   26.8     17.5     24.3     11.8
Jarrett Allen     14.2  1.3  10.7   26.2     15.5     24.9     12.0
Caris LeVert      12.0  4.5   4.4   20.9     16.5     16.4      8.9
Kevin Love        10.0  2.3   7.1   19.4     12.3     17.1      9.4
Cedi Osman         9.2  1.6   3.0   13.8     10.8     12.2      4.6
Dean Wade          6.4  1.0   4.1   11.5      7.4     10.5      5.1
Lamar Stevens      7.1  0.4   3.8   11.3      7.5     10.9      4.2
Isaac Okoro        4.3  0.7   2.0    7.0      5.0      6.3      2.7
Robin Lopez        3.3  0.5   1.5    5.3      3.8      4.8      2.0
Raul Neto          2.9  1.2   0.8    4.9      4.1      3.7      2.0
Mamadi Diakite     2.2  0.2   1.0    3.4      2.4      3.2      1.2
Isaiah Mobley      1.3  0.0   1.6    2.9      1.3      2.9      1.6

## Pelicans

In [123]:
NOP = pd.read_excel('/df_nba.xlsx', index_col= 0 )
NOP.fillna(0, inplace= True)
for index, row in NOP.iterrows():
    NOP.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    NOP.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    NOP.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    NOP.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
NOP = NOP[NOP.Tm == 'NOP'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
NOP.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Zion Williamson    24.5  4.3  7.2   36.0     28.8     31.7     11.5
Brandon Ingram     20.8  4.7  5.1   30.6     25.5     25.9      9.8
CJ McCollum        17.0  5.9  4.9   27.8     22.9     21.9     10.8
Jonas Valančiūnas  13.4  1.9  9.2   24.5     15.3     22.6     11.1
Trey Murphy III    13.0  1.4  4.3   18.7     14.4     17.3      5.7
Larry Nance Jr.     9.2  1.8  5.6   16.6     11.0     14.8      7.4
Herbert Jones      10.6  2.1  3.7   16.4     12.7     14.3      5.8
Jose Alvarado      10.0  3.2  2.2   15.4     13.2     12.2      5.4
Naji Marshall       7.6  2.2  3.0   12.8      9.8     10.6      5.2
Dyson Daniels       5.3  2.1  3.8   11.2      7.4      9.1      5.9
Willy Hernangómez   5.2  0.5  4.0    9.7      5.7      9.2      4.5
Devonte' Graham     5.7  2.2  1.5    9.4      7.9      7.2      3.7
Garrett Temple      2.9  0.3  0.7    3.9      3.2      3.6      1.0
Jaxson Hayes        1.1  0.6  1.8    3.5      1.7      2.9      2.4
Dereon Seabron      0.0  0.0  0.0    0.0      0.0      0.0      0.0

## Minnesotta

In [124]:
MIN = pd.read_excel('/df_nba.xlsx', index_col= 0 )
MIN.fillna(0, inplace= True)
for index, row in MIN.iterrows():
    MIN.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    MIN.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    MIN.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    MIN.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
MIN = MIN[MIN.Tm == 'MIN'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
MIN.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Karl-Anthony Towns  20.8  5.3   8.2   34.3     26.1     29.0     13.5
Anthony Edwards     22.9  4.0   5.7   32.6     26.9     28.6      9.7
Rudy Gobert         14.1  0.9  11.8   26.8     15.0     25.9     12.7
D'Angelo Russell    16.4  6.3   3.1   25.8     22.7     19.5      9.4
Jaylen Nowell       11.3  2.2   2.8   16.3     13.5     14.1      5.0
Jaden McDaniels     11.1  1.3   3.2   15.6     12.4     14.3      4.5
Kyle Anderson        7.2  3.3   4.3   14.8     10.5     11.5      7.6
Naz Reid             8.4  0.7   3.7   12.8      9.1     12.1      4.4
Taurean Prince       7.9  1.2   2.5   11.6      9.1     10.4      3.7
Jordan McLaughlin    4.1  3.6   1.7    9.4      7.7      5.8      5.3
Josh Minott          4.0  1.0   3.0    8.0      5.0      7.0      4.0
Austin Rivers        2.8  1.0   1.3    5.1      3.8      4.1      2.3
Bryn Forbes          3.6  0.8   0.5    4.9      4.4      4.1      1.3
Wendell Moore Jr.    2.0  0.3   0.8    3.1      2.3      2.8      1.1
A.J. Lawson          2.0  0.0   1.0    3.0      2.0      3.0      1.0
Luka Garza           2.0  0.0   0.5    2.5      2.0      2.5      0.5
Nathan Knight        0.6  0.0   0.7    1.3      0.6      1.3      0.7

## Orlando

In [125]:
ORL = pd.read_excel('/df_nba.xlsx', index_col= 0 )
ORL.fillna(0, inplace= True)
for index, row in ORL.iterrows():
    ORL.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    ORL.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    ORL.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    ORL.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
ORL = ORL[ORL.Tm == 'ORL'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
ORL.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Paolo Banchero      21.9  3.7  6.7   32.3     25.6     28.6     10.4
Wendell Carter Jr.  16.6  3.3  9.1   29.0     19.9     25.7     12.4
Franz Wagner        19.7  3.6  4.2   27.5     23.3     23.9      7.8
Cole Anthony        13.5  3.7  4.3   21.5     17.2     17.8      8.0
Bol Bol             12.7  1.1  7.5   21.3     13.8     20.2      8.6
Jalen Suggs         12.4  5.4  3.3   21.1     17.8     15.7      8.7
Moritz Wagner       11.2  2.6  7.1   20.9     13.8     18.3      9.7
Markelle Fultz      10.2  4.2  3.0   17.4     14.4     13.2      7.2
Gary Harris         10.3  2.0  2.7   15.0     12.3     13.0      4.7
Mo Bamba             7.9  1.1  4.9   13.9      9.0     12.8      6.0
Terrence Ross        8.3  1.3  2.1   11.7      9.6     10.4      3.4
Chuma Okeke          5.4  1.4  4.2   11.0      6.8      9.6      5.6
R.J. Hampton         6.5  1.5  1.6    9.6      8.0      8.1      3.1
Caleb Houstan        4.2  0.8  2.6    7.6      5.0      6.8      3.4
Kevon Harris         3.8  0.5  2.3    6.6      4.3      6.1      2.8
Admiral Schofield    4.3  0.7  1.6    6.6      5.0      5.9      2.3

## Knicks

In [126]:
NYK = pd.read_excel('/df_nba.xlsx', index_col= 0 )
NYK.fillna(0, inplace= True)
for index, row in NYK.iterrows():
    NYK.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    NYK.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    NYK.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    NYK.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
NYK = NYK[NYK.Tm == 'NYK'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
NYK.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Julius Randle       22.1  3.5  8.7   34.3     25.6     30.8     12.2
Jalen Brunson       20.2  6.4  3.3   29.9     26.6     23.5      9.7
RJ Barrett          18.5  2.9  5.5   26.9     21.4     24.0      8.4
Immanuel Quickley   10.0  3.0  4.3   17.3     13.0     14.3      7.3
Mitchell Robinson    7.1  0.8  8.1   16.0      7.9     15.2      8.9
Isaiah Hartenstein   6.5  0.8  6.8   14.1      7.3     13.3      7.6
Obi Toppin           7.7  1.0  3.8   12.5      8.7     11.5      4.8
Quentin Grimes       7.1  1.6  3.1   11.8      8.7     10.2      4.7
Cam Reddish          8.4  1.0  1.6   11.0      9.4     10.0      2.6
Evan Fournier        6.9  1.7  2.1   10.7      8.6      9.0      3.8
Derrick Rose         6.4  2.0  1.8   10.2      8.4      8.2      3.8
Jericho Sims         4.3  0.4  4.4    9.1      4.7      8.7      4.8
Miles McBride        2.4  1.6  0.4    4.4      4.0      2.8      2.0
Svi Mykhailiuk       1.8  0.0  0.7    2.5      1.8      2.5      0.7
Trevor Keels         0.0  0.0  1.0    1.0      0.0      1.0      1.0
Ryan Arcidiacono     0.0  0.3  0.3    0.6      0.3      0.3      0.6

## Wizzards

In [127]:
WAS = pd.read_excel('/df_nba.xlsx', index_col= 0 )
WAS.fillna(0, inplace= True)
for index, row in WAS.iterrows():
    WAS.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    WAS.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    WAS.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    WAS.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
WAS = WAS[WAS.Tm == 'WAS'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
WAS.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Kristaps Porziņģis  22.7  2.7  9.1   34.5     25.4     31.8     11.8
Kyle Kuzma          21.4  3.6  7.7   32.7     25.0     29.1     11.3
Bradley Beal        22.9  5.4  3.7   32.0     28.3     26.6      9.1
Monte Morris         9.4  5.2  3.5   18.1     14.6     12.9      8.7
Rui Hachimura       11.6  1.1  4.8   17.5     12.7     16.4      5.9
Deni Avdija          7.7  2.6  5.2   15.5     10.3     12.9      7.8
Jordan Goodwin       7.7  2.9  4.0   14.6     10.6     11.7      6.9
Corey Kispert        9.5  1.7  2.6   13.8     11.2     12.1      4.3
Will Barton          7.3  2.5  3.1   12.9      9.8     10.4      5.6
Delon Wright         6.5  3.3  2.5   12.3      9.8      9.0      5.8
Daniel Gafford       5.9  0.4  4.0   10.3      6.3      9.9      4.4
Devon Dotson         1.0  1.7  2.7    5.4      2.7      3.7      4.4
Anthony Gill         3.0  0.5  1.7    5.2      3.5      4.7      2.2
Taj Gibson           2.5  0.3  1.4    4.2      2.8      3.9      1.7
Johnny Davis         1.1  0.3  0.6    2.0      1.4      1.7      0.9
Jordan Schakel       1.5  0.5  0.0    2.0      2.0      1.5      0.5
Isaiah Todd          0.5  0.0  0.0    0.5      0.5      0.5      0.0
Vernon Carey Jr.     0.0  0.0  0.3    0.3      0.0      0.3      0.3

## Phoenix

In [128]:
PHO = pd.read_excel('/df_nba.xlsx', index_col= 0 )
PHO.fillna(0, inplace= True)
for index, row in PHO.iterrows():
    PHO.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    PHO.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    PHO.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    PHO.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
PHO = PHO[PHO.Tm == 'PHO'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
PHO.sort_values(by = ('TOTAL'), ascending = False)

                       PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Devin Booker          27.4  5.8  4.8   38.0     33.2     32.2     10.6
Deandre Ayton         17.0  2.1  9.7   28.8     19.1     26.7     11.8
Chris Paul            10.3  8.8  4.8   23.9     19.1     15.1     13.6
Mikal Bridges         15.3  3.2  5.1   23.6     18.5     20.4      8.3
Cameron Payne         12.7  5.6  2.6   20.9     18.3     15.3      8.2
Cameron Johnson       13.0  1.8  3.4   18.2     14.8     16.4      5.2
Torrey Craig           8.0  1.5  4.9   14.4      9.5     12.9      6.4
Damion Lee             8.3  1.3  3.5   13.1      9.6     11.8      4.8
Jock Landale           6.2  0.7  3.4   10.3      6.9      9.6      4.1
Landry Shamet          6.9  1.2  0.9    9.0      8.1      7.8      2.1
Dario Šarić            3.7  0.9  3.5    8.1      4.6      7.2      4.4
Bismack Biyombo        3.0  0.8  3.3    7.1      3.8      6.3      4.1
Ish Wainright          4.0  1.1  1.9    7.0      5.1      5.9      3.0
Josh Okogie            3.5  0.8  2.2    6.5      4.3      5.7      3.0
Duane Washington Jr.   4.6  0.7  0.6    5.9      5.3      5.2      1.3

## Detroit

In [129]:
DET = pd.read_excel('/df_nba.xlsx', index_col= 0 )
DET.fillna(0, inplace= True)
for index, row in DET.iterrows():
    DET.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    DET.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    DET.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    DET.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
DET = DET[DET.Tm == 'DET'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
DET.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Cade Cunningham    19.9  6.0  6.2   32.1     25.9     26.1     12.2
Bojan Bogdanović   20.3  2.4  3.6   26.3     22.7     23.9      6.0
Jaden Ivey         15.3  4.1  4.6   24.0     19.4     19.9      8.7
Isaiah Stewart     11.9  1.3  8.7   21.9     13.2     20.6     10.0
Saddiq Bey         14.8  1.8  4.5   21.1     16.6     19.3      6.3
Marvin Bagley III  11.5  0.6  6.5   18.6     12.1     18.0      7.1
Alec Burks         13.7  1.8  2.8   18.3     15.5     16.5      4.6
Killian Hayes       8.2  5.0  2.6   15.8     13.2     10.8      7.6
Jalen Duren         6.7  0.6  7.0   14.3      7.3     13.7      7.6
Hamidou Diallo      6.3  0.9  2.8   10.0      7.2      9.1      3.7
Cory Joseph         4.8  3.0  1.0    8.8      7.8      5.8      4.0
Isaiah Livers       5.8  0.6  2.3    8.7      6.4      8.1      2.9
Kevin Knox          5.3  0.3  2.4    8.0      5.6      7.7      2.7
Nerlens Noel        1.8  0.5  3.2    5.5      2.3      5.0      3.7
Rodney McGruder     1.9  0.8  1.8    4.5      2.7      3.7      2.6
Braxton Key         1.3  0.0  0.3    1.6      1.3      1.6      0.3
Buddy Boeheim       0.0  0.0  0.0    0.0      0.0      0.0      0.0

## Warriors

In [130]:
GSW = pd.read_excel('/df_nba.xlsx', index_col= 0 )
GSW.fillna(0, inplace= True)
for index, row in GSW.iterrows():
    GSW.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    GSW.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    GSW.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    GSW.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
GSW = GSW[GSW.Tm == 'GSW'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
GSW.sort_values(by = ('TOTAL'), ascending = False)

                      PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Stephen Curry        30.0  7.0  6.6   43.6     37.0     36.6     13.6
Andrew Wiggins       19.1  2.2  5.1   26.4     21.3     24.2      7.3
Klay Thompson        18.9  2.5  3.5   24.9     21.4     22.4      6.0
Jordan Poole         17.8  4.6  2.1   24.5     22.4     19.9      6.7
Draymond Green        8.7  6.8  6.2   21.7     15.5     14.9     13.0
Kevon Looney          6.4  2.8  7.6   16.8      9.2     14.0     10.4
James Wiseman         6.5  0.9  3.7   11.1      7.4     10.2      4.6
Donte DiVincenzo      5.0  2.4  3.6   11.0      7.4      8.6      6.0
Jonathan Kuminga      6.8  1.1  3.1   11.0      7.9      9.9      4.2
Anthony Lamb          5.5  1.5  3.3   10.3      7.0      8.8      4.8
JaMychal Green        5.4  0.7  3.8    9.9      6.1      9.2      4.5
Ty Jerome             5.1  1.8  1.0    7.9      6.9      6.1      2.8
Moses Moody           4.9  0.5  1.9    7.3      5.4      6.8      2.4
Patrick Baldwin Jr.   2.5  0.0  1.5    4.0      2.5      4.0      1.5
Ryan Rollins          2.1  0.4  1.0    3.5      2.5      3.1      1.4

## Hornets

In [131]:
CHO = pd.read_excel('/df_nba.xlsx', index_col= 0 )
CHO.fillna(0, inplace= True)
for index, row in CHO.iterrows():
    CHO.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    CHO.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    CHO.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    CHO.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
CHO = CHO[CHO.Tm == 'CHO'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
CHO.sort_values(by = ('TOTAL'), ascending = False)

                   PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Terry Rozier      21.8  5.7  4.7   32.2     27.5     26.5     10.4
LaMelo Ball       19.3  7.0  3.7   30.0     26.3     23.0     10.7
Kelly Oubre Jr.   20.5  1.2  5.3   27.0     21.7     25.8      6.5
Gordon Hayward    16.3  4.4  4.3   25.0     20.7     20.6      8.7
Mason Plumlee      9.6  4.1  9.2   22.9     13.7     18.8     13.3
P.J. Washington   15.5  2.4  4.7   22.6     17.9     20.2      7.1
Dennis Smith Jr.   9.3  5.7  3.3   18.3     15.0     12.6      9.0
Jalen McDaniels   10.2  2.3  4.7   17.2     12.5     14.9      7.0
Nick Richards      9.0  0.6  6.4   16.0      9.6     15.4      7.0
Théo Maledon       5.5  2.5  2.5   10.5      8.0      8.0      5.0
James Bouknight    5.3  1.3  2.3    8.9      6.6      7.6      3.6
Bryce McGowens     4.6  1.0  1.5    7.1      5.6      6.1      2.5
Mark Williams      3.7  0.0  2.7    6.4      3.7      6.4      2.7
Kai Jones          2.9  0.2  2.3    5.4      3.1      5.2      2.5
JT Thor            2.2  0.5  1.9    4.6      2.7      4.1      2.4
Cody Martin        0.0  0.0  0.0    0.0      0.0      0.0      0.0

## Spurs

In [132]:
SAS = pd.read_excel('/df_nba.xlsx', index_col= 0 )
SAS.fillna(0, inplace= True)
for index, row in SAS.iterrows():
    SAS.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    SAS.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    SAS.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    SAS.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
SAS = SAS[SAS.Tm == 'SAS'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
SAS.sort_values(by = ('TOTAL'), ascending = False)

                   PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Keldon Johnson    20.9  3.0  5.2   29.1     23.9     26.1      8.2
Devin Vassell     20.4  3.5  4.2   28.1     23.9     24.6      7.7
Jakob Poeltl      12.9  3.5  9.9   26.3     16.4     22.8     13.4
Tre Jones         12.6  6.6  3.4   22.6     19.2     16.0     10.0
Zach Collins       8.6  2.8  5.5   16.9     11.4     14.1      8.3
Josh Richardson    9.9  3.1  2.5   15.5     13.0     12.4      5.6
Joshua Primo       7.0  4.5  3.3   14.8     11.5     10.3      7.8
Jeremy Sochan      8.1  2.0  4.1   14.2     10.1     12.2      6.1
Doug McDermott    10.5  1.6  1.9   14.0     12.1     12.4      3.5
Charles Bassey     6.0  1.6  5.8   13.4      7.6     11.8      7.4
Keita Bates-Diop   7.9  0.7  3.0   11.6      8.6     10.9      3.7
Blake Wesley       8.0  2.0  1.0   11.0     10.0      9.0      3.0
Romeo Langford     6.8  0.9  3.0   10.7      7.7      9.8      3.9
Isaiah Roby        4.6  1.3  2.9    8.8      5.9      7.5      4.2
Malaki Branham     5.0  1.7  1.7    8.4      6.7      6.7      3.4
Gorgui Dieng       3.9  1.7  2.8    8.4      5.6      6.7      4.5
Jordan Hall        3.1  1.2  1.3    5.6      4.3      4.4      2.5
Dominick Barlow    2.7  1.0  1.0    4.7      3.7      3.7      2.0
Alize Johnson      1.8  0.3  2.5    4.6      2.1      4.3      2.8

## Kings

In [133]:
SAC = pd.read_excel('/df_nba.xlsx', index_col= 0 )
SAC.fillna(0, inplace= True)
for index, row in SAC.iterrows():
    SAC.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    SAC.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    SAC.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    SAC.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
SAC = SAC[SAC.Tm == 'SAC'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
SAC.sort_values(by = ('TOTAL'), ascending = False)

                      PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Domantas Sabonis     17.0  6.5  11.3   34.8     23.5     28.3     17.8
De'Aaron Fox         22.8  5.6   5.0   33.4     28.4     27.8     10.6
Kevin Huerter        15.6  3.2   3.3   22.1     18.8     18.9      6.5
Harrison Barnes      13.8  1.8   5.3   20.9     15.6     19.1      7.1
Malik Monk           14.5  4.0   2.2   20.7     18.5     16.7      6.2
Keegan Murray        11.7  0.9   4.0   16.6     12.6     15.7      4.9
Terence Davis         7.0  1.5   3.0   11.5      8.5     10.0      4.5
Davion Mitchell       6.6  2.4   1.5   10.5      9.0      8.1      3.9
Chimezie Metu         5.9  0.8   3.4   10.1      6.7      9.3      4.2
Trey Lyles            5.9  0.7   2.7    9.3      6.6      8.6      3.4
Richaun Holmes        3.0  0.0   1.9    4.9      3.0      4.9      1.9
KZ Okpala             1.9  0.5   1.4    3.8      2.4      3.3      1.9
Matthew Dellavedova   1.5  1.4   0.5    3.4      2.9      2.0      1.9
Alex Len              1.4  0.3   1.1    2.8      1.7      2.5      1.4
Chima Moneke          1.0  0.5   1.0    2.5      1.5      2.0      1.5
Keon Ellis            0.0  0.0   0.5    0.5      0.0      0.5      0.5

## Clippers

In [134]:
LAC = pd.read_excel('/df_nba.xlsx', index_col= 0 )
LAC.fillna(0, inplace= True)
for index, row in LAC.iterrows():
    LAC.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    LAC.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    LAC.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    LAC.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
LAC = LAC[LAC.Tm == 'LAC'][['PTS','AST','TRB','TOTAL']]
LAC.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST   TRB  TOTAL
Player
Paul George         23.7  4.7   6.1   34.5
Ivica Zubac         10.6  1.1  11.2   22.9
John Wall           12.6  5.6   2.5   20.7
Marcus Morris       13.7  1.8   4.9   20.4
Kawhi Leonard       11.6  3.5   5.1   20.2
Reggie Jackson      12.7  4.2   2.6   19.5
Norman Powell       14.8  1.5   2.9   19.2
Terance Mann         8.3  1.8   3.6   13.7
Luke Kennard         7.9  1.0   2.9   11.8
Nicolas Batum        5.5  1.4   4.1   11.0
Robert Covington     5.6  1.2   3.6   10.4
Moussa Diabaté       4.2  0.2   3.8    8.2
Brandon Boston Jr.   5.7  0.6   1.2    7.5
Moses Brown          4.2  0.1   2.8    7.1
Amir Coffey          4.0  1.4   1.2    6.6
Jason Preston        3.5  1.3   0.8    5.6

## OKC

In [135]:
OKC = pd.read_excel('/df_nba.xlsx', index_col= 0 )
OKC.fillna(0, inplace= True)
for index, row in OKC.iterrows():
    OKC.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    OKC.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    OKC.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    OKC.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
OKC = OKC[OKC.Tm == 'OKC'][['PTS','AST','TRB','TOTAL']]
OKC.sort_values(by = ('TOTAL'), ascending = False)

                          PTS  AST  TRB  TOTAL
Player
Shai Gilgeous-Alexander  30.8  5.9  4.6   41.3
Josh Giddey              14.7  5.4  7.9   28.0
Luguentz Dort            13.9  2.3  4.5   20.7
Aleksej Pokusevski        9.6  1.9  5.2   16.7
Jalen Williams           10.6  2.5  3.1   16.2
Jeremiah Robinson-Earl    8.6  1.0  5.1   14.7
Tre Mann                  9.0  1.7  2.6   13.3
Kenrich Williams          6.6  1.4  3.8   11.8
Aaron Wiggins             5.8  1.6  3.4   10.8
Darius Bazley             5.6  0.9  3.8   10.3
Mike Muscala              5.4  0.9  3.2    9.5
Eugene Omoruyi            6.4  0.4  2.1    8.9
Ousmane Dieng             4.4  1.4  2.9    8.7
Isaiah Joe                5.7  1.0  1.6    8.3
Lindy Waters III          4.6  0.4  2.0    7.0
Jaylin Williams           2.3  0.8  2.0    5.1

## Mavericks

In [136]:
DAL = pd.read_excel('/df_nba.xlsx', index_col= 0 )
DAL.fillna(0, inplace= True)
for index, row in DAL.iterrows():
    DAL.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    DAL.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    DAL.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    DAL.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
DAL = DAL[DAL.Tm == 'DAL'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
DAL.sort_values(by = ('TOTAL'), ascending = False)

                      PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Luka Dončić          32.9  8.8  8.5   50.2     41.7     41.4     17.3
Christian Wood       16.8  1.4  7.8   26.0     18.2     24.6      9.2
Spencer Dinwiddie    16.7  5.1  3.2   25.0     21.8     19.9      8.3
Tim Hardaway Jr.     13.0  1.8  2.6   17.4     14.8     15.6      4.4
Kemba Walker          8.0  5.0  2.0   15.0     13.0     10.0      7.0
Dorian Finney-Smith   8.4  1.1  4.0   13.5      9.5     12.4      5.1
Tyler Dorsey          9.0  0.0  2.0   11.0      9.0     11.0      2.0
Josh Green            7.0  1.2  2.3   10.5      8.2      9.3      3.5
Maxi Kleber           6.1  1.0  3.4   10.5      7.1      9.5      4.4
Dwight Powell         6.0  0.5  3.6   10.1      6.5      9.6      4.1
Reggie Bullock        4.6  0.9  3.0    8.5      5.5      7.6      3.9
JaVale McGee          4.9  0.2  2.6    7.7      5.1      7.5      2.8
Jaden Hardy           5.0  0.3  0.7    6.0      5.3      5.7      1.0
McKinley Wright IV    2.0  2.0  2.0    6.0      4.0      4.0      4.0
Dāvis Bertāns         3.4  0.4  0.8    4.6      3.8      4.2      1.2
Frank Ntilikina       1.1  1.3  1.4    3.8      2.4      2.5      2.7
Facundo Campazzo      1.3  1.1  0.3    2.7      2.4      1.6      1.4
Theo Pinson           0.5  0.3  0.8    1.6      0.8      1.3      1.1

## Lakers

In [137]:
LAL = pd.read_excel('/df_nba.xlsx', index_col= 0 )
LAL.fillna(0, inplace= True)
for index, row in LAL.iterrows():
    LAL.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    LAL.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    LAL.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    LAL.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
LAL = LAL[LAL.Tm == 'LAL'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
LAL.sort_values(by = ('TOTAL'), ascending = False)

                        PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Anthony Davis          27.5  2.5  12.3   42.3     30.0     39.8     14.8
LeBron James           25.7  6.4   8.8   40.9     32.1     34.5     15.2
Russell Westbrook      14.6  7.5   5.6   27.7     22.1     20.2     13.1
Lonnie Walker IV       16.0  1.6   2.3   19.9     17.6     18.3      3.9
Austin Reaves          10.9  2.1   3.0   16.0     13.0     13.9      5.1
Dennis Schröder         9.2  3.6   1.9   14.7     12.8     11.1      5.5
Thomas Bryant           9.3  0.7   4.5   14.5     10.0     13.8      5.2
Troy Brown Jr.          7.3  0.9   4.4   12.6      8.2     11.7      5.3
Patrick Beverley        4.5  2.5   3.7   10.7      7.0      8.2      6.2
Wenyen Gabriel          5.1  0.7   3.7    9.5      5.8      8.8      4.4
Kendrick Nunn           5.7  1.2   1.3    8.2      6.9      7.0      2.5
Damian Jones            3.0  0.3   3.1    6.4      3.3      6.1      3.4
Max Christie            3.0  0.5   2.3    5.8      3.5      5.3      2.8
Matt Ryan               3.9  0.3   1.2    5.4      4.2      5.1      1.5
Juan Toscano-Anderson   2.2  0.6   1.8    4.6      2.8      4.0      2.4
Scotty Pippen Jr.       1.5  0.0   1.0    2.5      1.5      2.5      1.0
Cole Swider             0.0  1.0   1.0    2.0      1.0      1.0      2.0

## Pacers

In [138]:
IND = pd.read_excel('/df_nba.xlsx', index_col= 0 )
IND.fillna(0, inplace= True)
for index, row in IND.iterrows():
    IND.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    IND.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    IND.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    IND.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
IND = IND[IND.Tm == 'IND'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
IND.sort_values(by = ('TOTAL'), ascending = False)

                     PTS   AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Tyrese Haliburton   20.2  11.0  4.3   35.5     31.2     24.5     15.3
Myles Turner        17.6   1.4  7.7   26.7     19.0     25.3      9.1
Buddy Hield         17.6   2.6  4.7   24.9     20.2     22.3      7.3
Bennedict Mathurin  17.9   1.6  4.1   23.6     19.5     22.0      5.7
Jalen Smith         11.2   1.1  6.7   19.0     12.3     17.9      7.8
Andrew Nembhard      8.5   4.1  3.0   15.6     12.6     11.5      7.1
Isaiah Jackson       7.1   1.0  4.1   12.2      8.1     11.2      5.1
Aaron Nesmith        7.9   1.1  3.1   12.1      9.0     11.0      4.2
Chris Duarte         8.9   1.0  2.1   12.0      9.9     11.0      3.1
T.J. McConnell       5.5   4.1  2.3   11.9      9.6      7.8      6.4
Oshae Brissett       6.2   0.5  3.2    9.9      6.7      9.4      3.7
Goga Bitadze         3.6   1.0  2.3    6.9      4.6      5.9      3.3
James Johnson        1.9   0.7  1.1    3.7      2.6      3.0      1.8
Terry Taylor         1.8   0.4  1.4    3.6      2.2      3.2      1.8
Kendall Brown        1.5   0.5  1.0    3.0      2.0      2.5      1.5
Trevelin Queen       0.0   1.0  1.5    2.5      1.0      1.5      2.5

## Atlanta

In [139]:
ATL = pd.read_excel('/df_nba.xlsx', index_col= 0 )
ATL.fillna(0, inplace= True)
for index, row in ATL.iterrows():
    ATL.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    ATL.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    ATL.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    ATL.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
ATL = ATL[ATL.Tm == 'ATL'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
ATL.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Trae Young         27.5  9.5   2.8   39.8     37.0     30.3     12.3
Dejounte Murray    20.8  6.2   5.4   32.4     27.0     26.2     11.6
Clint Capela       11.8  0.7  12.2   24.7     12.5     24.0     12.9
John Collins       12.3  1.3   7.5   21.1     13.6     19.8      8.8
De'Andre Hunter    14.9  1.1   4.0   20.0     16.0     18.9      5.1
Bogdan Bogdanović  15.5  1.5   2.3   19.3     17.0     17.8      3.8
Onyeka Okongwu      7.7  1.0   6.1   14.8      8.7     13.8      7.1
AJ Griffin          9.6  0.9   2.0   12.5     10.5     11.6      2.9
Jarrett Culver      5.0  0.7   4.6   10.3      5.7      9.6      5.3
Jalen Johnson       4.7  1.0   3.6    9.3      5.7      8.3      4.6
Aaron Holiday       4.7  1.5   1.6    7.8      6.2      6.3      3.1
Justin Holiday      5.4  0.9   1.0    7.3      6.3      6.4      1.9
Trent Forrest       2.3  1.3   1.0    4.6      3.6      3.3      2.3
Frank Kaminsky      1.9  0.6   1.2    3.7      2.5      3.1      1.8
Vit Krejci          1.7  0.8   0.6    3.1      2.5      2.3      1.4
Tyrese Martin       1.0  0.0   0.6    1.6      1.0      1.6      0.6

## Bulls

In [140]:
CHI = pd.read_excel('/df_nba.xlsx', index_col= 0 )
CHI.fillna(0, inplace= True)
for index, row in CHI.iterrows():
    CHI.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    CHI.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    CHI.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    CHI.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
CHI = CHI[CHI.Tm == 'CHI'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
CHI.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
DeMar DeRozan      25.6  4.6   4.7   34.9     30.2     30.3      9.3
Zach LaVine        21.9  4.2   4.6   30.7     26.1     26.5      8.8
Nikola Vučević     16.3  2.9  10.8   30.0     19.2     27.1     13.7
Ayo Dosunmu        10.5  2.8   3.4   16.7     13.3     13.9      6.2
Andre Drummond      6.5  0.8   7.4   14.7      7.3     13.9      8.2
Patrick Williams    9.5  0.9   3.9   14.3     10.4     13.4      4.8
Goran Dragić        8.1  3.2   1.6   12.9     11.3      9.7      4.8
Alex Caruso         5.2  3.8   2.7   11.7      9.0      7.9      6.5
Coby White          7.1  1.8   2.1   11.0      8.9      9.2      3.9
Javonte Green       6.0  0.8   3.1    9.9      6.8      9.1      3.9
Derrick Jones Jr.   5.2  0.5   2.4    8.1      5.7      7.6      2.9
Tony Bradley        1.4  0.1   1.0    2.5      1.5      2.4      1.1
Dalen Terry         1.1  0.6   0.2    1.9      1.7      1.3      0.8
Malcolm Hill        0.0  0.0   0.3    0.3      0.0      0.3      0.3
Marko Simonovic     0.0  0.0   0.0    0.0      0.0      0.0      0.0

## Nuggets

In [141]:
DEN = pd.read_excel('/df_nba.xlsx', index_col= 0 )
DEN.fillna(0, inplace= True)
for index, row in DEN.iterrows():
    DEN.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    DEN.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    DEN.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    DEN.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
DEN = DEN[DEN.Tm == 'DEN'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
DEN.sort_values(by = ('TOTAL'), ascending = False)

                           PTS  AST   TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Nikola Jokić              23.8  9.1  10.1   43.0     32.9     33.9     19.2
Jamal Murray              18.3  5.1   3.7   27.1     23.4     22.0      8.8
Aaron Gordon              16.7  2.1   6.4   25.2     18.8     23.1      8.5
Michael Porter Jr.        16.4  1.3   6.0   23.7     17.7     22.4      7.3
Bruce Brown               10.9  4.3   4.5   19.7     15.2     15.4      8.8
Bones Hyland              14.2  3.3   2.2   19.7     17.5     16.4      5.5
Kentavious Caldwell-Pope  11.0  2.1   3.0   16.1     13.1     14.0      5.1
DeAndre Jordan             5.1  1.0   5.9   12.0      6.1     11.0      6.9
Jeff Green                 7.5  1.3   2.6   11.4      8.8     10.1      3.9
Ish Smith                  3.7  2.5   1.3    7.5      6.2      5.0      3.8
Vlatko Čančar              4.7  1.0   1.7    7.4      5.7      6.4      2.7
Christian Braun            3.2  0.6   2.1    5.9      3.8      5.3      2.7
Zeke Nnaji                 4.3  0.2   1.4    5.9      4.5      5.7      1.6
Davon Reed                 2.8  0.5   1.6    4.9      3.3      4.4      2.1
Peyton Watson              1.0  0.0   0.5    1.5      1.0      1.5      0.5
Jack White                 0.3  0.0   0.6    0.9      0.3      0.9      0.6

## Celtics

In [142]:
BOS = pd.read_excel('/df_nba.xlsx', index_col= 0 )
BOS.fillna(0, inplace= True)
for index, row in BOS.iterrows():
    BOS.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    BOS.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    BOS.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    BOS.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
BOS = BOS[BOS.Tm == 'BOS'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
BOS.sort_values(by = ('TOTAL'), ascending = False)

                    PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Jayson Tatum       30.0  4.0  8.1   42.1     34.0     38.1     12.1
Jaylen Brown       26.8  3.6  7.2   37.6     30.4     34.0     10.8
Marcus Smart       11.8  7.5  3.2   22.5     19.3     15.0     10.7
Malcolm Brogdon    14.1  3.8  4.1   22.0     17.9     18.2      7.9
Al Horford         10.2  2.8  6.3   19.3     13.0     16.5      9.1
Derrick White      10.4  3.3  2.9   16.6     13.7     13.3      6.2
Grant Williams      9.1  1.7  4.5   15.3     10.8     13.6      6.2
Blake Griffin       6.2  0.9  4.4   11.5      7.1     10.6      5.3
Sam Hauser          6.9  0.7  2.5   10.1      7.6      9.4      3.2
Luke Kornet         4.8  0.8  3.5    9.1      5.6      8.3      4.3
Payton Pritchard    5.3  1.1  1.6    8.0      6.4      6.9      2.7
Mfiondu Kabengele   2.0  0.0  4.0    6.0      2.0      6.0      4.0
Noah Vonleh         1.4  0.3  2.4    4.1      1.7      3.8      2.7
Justin Jackson      0.5  0.4  0.5    1.4      0.9      1.0      0.9
JD Davison          0.7  0.3  0.3    1.3      1.0      1.0      0.6

## Portland

In [143]:
POR = pd.read_excel('/df_nba.xlsx', index_col= 0 )
POR.fillna(0, inplace= True)
for index, row in POR.iterrows():
    POR.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    POR.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    POR.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    POR.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
POR = POR[POR.Tm == 'POR'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]

## 76

In [144]:
PHI = pd.read_excel('/df_nba.xlsx', index_col= 0 )
PHI.fillna(0, inplace= True)
for index, row in PHI.iterrows():
    PHI.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    PHI.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    PHI.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    PHI.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
PHI = PHI[PHI.Tm == 'PHI'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
PHI.sort_values(by = ('TOTAL'), ascending = False)

                     PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Joel Embiid         32.2  4.9  9.7   46.8     37.1     41.9     14.6
James Harden        22.5  9.9  6.5   38.9     32.4     29.0     16.4
Tyrese Maxey        22.9  4.4  3.5   30.8     27.3     26.4      7.9
Tobias Harris       16.8  2.7  6.4   25.9     19.5     23.2      9.1
De'Anthony Melton   11.9  3.3  4.4   19.6     15.2     16.3      7.7
Shake Milton        11.5  3.6  3.4   18.5     15.1     14.9      7.0
Georges Niang        9.7  1.1  2.1   12.9     10.8     11.8      3.2
P.J. Tucker          3.4  1.0  4.4    8.8      4.4      7.8      5.4
Montrezl Harrell     4.9  0.5  2.9    8.3      5.4      7.8      3.4
Danuel House Jr.     4.9  0.8  2.0    7.7      5.7      6.9      2.8
Paul Reed            3.3  0.5  3.8    7.6      3.8      7.1      4.3
Furkan Korkmaz       4.9  1.0  1.4    7.3      5.9      6.3      2.4
Saben Lee            3.0  1.0  0.0    4.0      4.0      3.0      1.0
Jaden Springer       2.5  0.0  1.0    3.5      2.5      3.5      1.0
Matisse Thybulle     1.9  0.4  1.1    3.4      2.3      3.0      1.5
Michael Foster Jr.   0.0  0.0  0.0    0.0      0.0      0.0      0.0
Julian Champagnie    0.0  0.0  0.0    0.0      0.0      0.0      0.0

## Rockets

In [145]:
HOU = pd.read_excel('/df_nba.xlsx', index_col= 0 )
HOU.fillna(0, inplace= True)
for index, row in HOU.iterrows():
    HOU.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    HOU.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    HOU.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    HOU.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
HOU = HOU[HOU.Tm == 'HOU'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
HOU.sort_values(by = ('TOTAL'), ascending = False)

                      PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Kevin Porter Jr.     18.8  5.8  5.6   30.2     24.6     24.4     11.4
Jalen Green          21.3  3.9  3.9   29.1     25.2     25.2      7.8
Alperen Şengün       14.9  2.2  8.7   25.8     17.1     23.6     10.9
Jabari Smith Jr.     12.3  0.7  6.9   19.9     13.0     19.2      7.6
Kenyon Martin Jr.    10.7  1.4  5.1   17.2     12.1     15.8      6.5
Eric Gordon          12.4  2.6  2.0   17.0     15.0     14.4      4.6
Jae'Sean Tate         8.3  3.3  4.3   15.9     11.6     12.6      7.6
Tari Eason            8.8  0.9  5.4   15.1      9.7     14.2      6.3
Bruno Fernando        5.8  1.3  4.4   11.5      7.1     10.2      5.7
Usman Garuba          3.7  1.0  4.9    9.6      4.7      8.6      5.9
Daishen Nix           3.5  2.6  1.8    7.9      6.1      5.3      4.4
Garrison Mathews      5.1  0.4  1.1    6.6      5.5      6.2      1.5
Josh Christopher      2.9  0.6  1.1    4.6      3.5      4.0      1.7
Boban Marjanović      2.1  0.1  0.9    3.1      2.2      3.0      1.0
Trevor Hudgins        3.0  0.0  0.0    3.0      3.0      3.0      0.0
TyTy Washington Jr.   1.5  0.0  0.0    1.5      1.5      1.5      0.0

## Nets

In [146]:
BRK = pd.read_excel('/df_nba.xlsx', index_col= 0 )
BRK.fillna(0, inplace= True)
for index, row in BRK.iterrows():
    BRK.loc[index, 'TOTAL'] = row['PTS'] + row['AST'] + row['TRB']
    BRK.loc[index, 'PTS/AST'] = row['PTS'] + row['AST']
    BRK.loc[index, 'PTS/TRB'] = row['PTS'] + row['TRB']
    BRK.loc[index, 'TRB/AST'] = row['TRB'] + row['AST']
BRK = BRK[BRK.Tm == 'BRK'][['PTS','AST','TRB','TOTAL','PTS/AST','PTS/TRB','TRB/AST']]
BRK.sort_values(by = ('TOTAL'), ascending = False)

                   PTS  AST  TRB  TOTAL  PTS/AST  PTS/TRB  TRB/AST
Player
Kevin Durant      30.0  5.4  6.6   42.0     35.4     36.6     12.0
Kyrie Irving      25.3  4.5  4.7   34.5     29.8     30.0      9.2
Nic Claxton       11.8  1.2  8.7   21.7     13.0     20.5      9.9
Ben Simmons        8.2  5.9  6.6   20.7     14.1     14.8     12.5
Royce O'Neale      9.3  4.7  5.4   19.4     14.0     14.7     10.1
Seth Curry         9.7  2.5  2.4   14.6     12.2     12.1      4.9
Joe Harris         8.6  1.7  3.1   13.4     10.3     11.7      4.8
Yuta Watanabe      8.3  1.0  3.2   12.5      9.3     11.5      4.2
Edmond Sumner      7.8  1.3  1.6   10.7      9.1      9.4      2.9
T.J. Warren        7.0  1.5  2.0   10.5      8.5      9.0      3.5
Cam Thomas         7.3  1.4  1.4   10.1      8.7      8.7      2.8
Patty Mills        5.5  1.3  1.0    7.8      6.8      6.5      2.3
Markieff Morris    4.1  1.1  2.6    7.8      5.2      6.7      3.7
Day'Ron Sharpe     3.6  0.6  3.4    7.6      4.2      7.0      4.0
David Duke Jr.     3.0  0.9  1.1    5.0      3.9      4.1      2.0
Kessler Edwards    1.2  0.2  1.1    2.5      1.4      2.3      1.3
Alondes Williams   0.0  0.0  1.0    1.0      0.0      1.0      1.0